<h1 class="mt-4">Home</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Bem vindo, {{ usuarioLogado }}</li>
</ol>

<br />

<div class="row">
  <div class="col-md-4">
    <table class="table-condensed">
      <thead>
        <tr>
          <th>Últimos animes adicionados:</th>
        </tr>
      </thead>
        <tr *ngFor="let anime of animes">
          <ul>{{ anime.title }}</ul>
        </tr>
    </table>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-12">
    <table class="table-condensed">
      <thead>
        <tr>
          <th>Notícias recentes:</th>
        </tr>
      </thead>
        <tr *ngFor="let homeMSNew of homeMSNews">
          <ul>
            <a href="{{ homeMSNew.url }}" target="_blank">
              <i class="fas fa-link"></i></a>  {{ homeMSNew.title }}
          </ul>
        </tr>
    </table>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-12">
    <table class="table-condensed">
      <thead>
        <tr>
          <th>Animes Recomendados:</th>
        </tr>
      </thead>
        <tr *ngFor="let info of animesInfo">
          <ul>
            {{ info.title }} || Lançamento: {{ info.start_date }}
          </ul>
        </tr>
    </table>
  </div>
</div>
